<% @templates.each_with_index do |s,i| %>
<% if s.count == 2 %>
<div class="template_pair_index">
  <div class="template_cell_index template_cell_left_index" data-url=<%= s[0].id %>>
    <div class="template_title_index"><%= s[0].title %></div>
    <div class="template_image_description_index" data-number=<%= i*2+1 %>>
      <div class="template_image_index"><%= image_tag(s[0].img, size:"280x154", draggable: false) %> </div>
      <div class="template_description_index"><%= t s[0].description %></div>
    </div>
  </div>
  

  <div class="template_cell_index template_cell_right_index" data-url=<%= s[1].id %>>
    <div class="template_title_index"><%= s[1].title %></div>
    <div class="template_image_description_index"  data-number=<%= i*2+2 %>>
      <div class="template_image_index"><%= image_tag(s[1].img, size:"280x154", draggable: false) %> </div>
      <div class="template_description_index"><%= t s[1].description %></div>
    </div>
  </div>

</div>

<% else %>
<div class="template_pair_index">
  <div class="template_cell_index template_cell_left_index" data-url=<%= s[0].id %>>
    <div class="template_title_index"><%= s[0].title %></div>
    <div class="template_image_description_index"  data-number=<%= i*2+1 %>>
      <div class="template_image_index"><%= image_tag(s[0].img, size:"280x154", draggable: false) %> </div>
      <div class="template_description_index"><%= t s[0].description %></div>
    </div>
  </div>
</div>

<% end %>
<% end %>
