


<section class="row">

<section class="span3" id="template_navbar">

  <div id="template_general_navbar">
    <% @subcategories.each do |s| %>
    <% if s.id == 1 %>
    <p id="category_<%= s.id %>" class="template_selected template_category"><%= link_to t(s.title), static_pages_path(category: s.id), remote:true %></p>
    <% else %>
    <p id="category_<%= s.id %>" class="template_category"><%= link_to t(s.title), static_pages_path(category: s.id), remote:true %></p>
    <% end %>
    <% end %>
  </div>
  <div id="template_specific_navbar">
    <%= link_to "voltar", remote:true %>
  </div>
</section>

<section class="span9" id="template_index">
  <%= render "templates" %>

</section>



</section>

