

<div id="class_code_div">

<%= form_tag(static_pages_path, method:"get") do %>
<p> Inserir código</p>
<%= text_field_tag(:code, nil, id:"student_code_field") %>
<%= submit_tag(:ok, class:"btn btn-success", style:"margin-top:-14px;") %>
<% end %>

</div>


<section class="row">

<section class="span3">

  <% @subcategories.each do |s| %>
  <p><%= link_to s.title, static_pages_path(category: s.id), remote:true %></p>
  <% end %>

</section>

<section class="span9" id="template_index">
  <%= render "templates" %>

</section>



</section>
