<div style="margin-top: -60px" >

<section class="name_getter" style="width:500px; margin: 200px auto ;">
  
  <p>Comece por introduzir o seu nome</p>
  <%= form_tag("/static_pages/set_name", remote:true, method: "get") do %>
  <%= text_field_tag(:name, nil, id:"student_name_field") %>
  <%= submit_tag(:ok, id:"student_name_submit", class:"btn btn-success", style:"margin-top: -14px;") %>
  <% end %>
</section>


<section class="background">
  <% if session[:deadline] %>
  <div class="alert alert-info">
  Esta tarefa será discutida na aula de <%= session[:deadline].strftime("%d/%m") %>. Deverá ser concluída antes dessa data.
  </div>
  <% end %>

<div id="thermo_background_div">

<h1><%= @activity.title %></h1>
<p>Nesta atividade procura-se investigar os custos quotidianos de uma habitação. Numa primeira fase, estamos interessados em saber, qual a energia necessária para aquecer a água para um banho de imersão (cerca de 18ºC neste momento) até 26ºC.</p> <br />
<p>Esta questão será resolvida com a colaboração dos seus colegas. </p>

</div>
<div class="btn-group thermo_navigator">
<a type="button" class="thermo_button btn btn-primary" id="thermo_background_next">Seguinte</a>
</div>
</section>



<section class="thermo_strategy">

<div id="thermo_strategy_div">
  <h2>Estratégia</h2>
  <div>
  <p>Para responder a esta questão poderíamos tentar encher uma banheira com água e aquecer a água até aos 26ºC, com algum tipo de resistência ou outro equipamento apropriado. Poderíamos então, verificar a energia gasta. Este método tornar-se-á rapidamente inviável se quisermos medir a energia necessária para aquecer grandes quantidades de água.  
  </p>
  <br />
  <p>
  Vamos usar um processo em que testamos o problema em pequena escala. Aquecendo pequenas quantidades de água até aos 26ºC podemos verificar qual a quantidade de energia necessária para aquecer pequenas quantidades. Assim tentamos descobrir um padrão que nos permita tirar conclusões sobre o caso do banho de imersão. Chama-se a isto construir um modelo.
  </p>
  </div>

  </div>
   
  <div class="btn-group thermo_navigator" style="margin-top: 10px">
    <a type="button" class="thermo_button btn btn-primary" id="thermo_strategy_previous">Anterior</a>
    <a type="button" class="thermo_button btn btn-primary" id="thermo_strategy_next">Seguinte</a>
  </div>
</section>



<section class="data-gathering row">
  
<script type="text/paperscript" canvas="canvas">
	  

var calor = new Raster("calorimeter");
calor.position = view.center;



var water = new Path();

water.closed = true;

water.fillColor = new Color(0,0,1,0.3);

water.add(new Point(77,461));
water.add(new Point(90,469));
water.add(new Point(120,473));
water.add(new Point(160,475));
water.add(new Point(300,475));
water.add(new Point(337,469));
water.add(new Point(350,461));

water.add(new Point(350,407));
water.add(new Point(337,404));
water.add(new Point(300,401));
water.add(new Point(160,401));
water.add(new Point(120,403));
water.add(new Point(90,404));
water.add(new Point(77,407));

var y_scale = 0.005555556;
var base = 0.5;
var height = 150/base/1000/y_scale;
var time = 0;
var temperature = 18.0;
var mass = 0;
var animate = false;
var rho = 1;
var P = 500;
var c_water = 4180;
var dt;
var Q;

var top = new Path.Ellipse(new Rectangle(77,399,273,22));
top.fillColor = new Color(0,0,1,0.3);



function onFrame(evt) {
    
    dt = evt.delta;

    if (animate) {
	 time += dt;
	 $("#chrono").text(time.toFixed(1)+ " s");
	 	 
	 Q = P * dt;
	 
	 mass = getMass(base, height*y_scale, rho);
	 
        temperature += (Q/(mass*c_water)*(5-(Math.random()*8)));
	 
	 $("#thermo").text((Math.round(temperature*2)/2).toFixed(1)+ " ºC");
	 if (temperature > 60) {
	     reset();
	 }
    }
}

$(document).ready(function() {
    
    $("#onoff").on("click", function() {
	 mass = getMass(base, height*y_scale, rho);
	 if ($(this).text() == "Aquecer") {
            $(this).text("Parar");
	     animate = true;
            $("#volume_slider").slider("disable");
	 }
	 else {
	     $(this).text("Aquecer");
	     animate = false;
        }
	 
	 
    });

    $("#restart").on("click", function() {
	 reset();
	 
    });

    $("#volume_slider").on("slide", function(evt, ui) {
	 $("#volume").html((ui.value/1000).toFixed(3)+" kg");
        var diff = (height-(ui.value/(base*1000)/y_scale));
        height -= diff;
        top.bounds.y += diff;
        for (var k in water.segments) {
           if (k >= 7)
	      water.segments[k].point.y += diff;
           }
    });
});


function getMass(base, h, rho) {
    return base*h*rho;
}

function reset() {
    temperature = 18.0;
	 mass = 0;
	 time = 0;
	 animate = false;
	 $("#onoff").text("Aquecer");
	 $("#chrono").text("0.0 s");
	 $("#thermo").text("18.0 ºC");
	 $("#volume").html("0.150 kg");   
        
	 top.bounds.y += (height-(150/base/1000/y_scale));
	 
	 for (var k in water.segments) {
	     if (k >= 7)
		  water.segments[k].point.y += (height-(150/base/1000/y_scale));
	 }
	 
	 height = 150/base/1000/y_scale;
        $("#volume_slider").slider("value", 150);
        $("#volume_slider").slider("enable");
}


	</script>
        

   <h1>Recolher Dados</h1>
        
    <div class="thermo_data_form span5">
      <%= form_tag(data_points_path, remote: true) do %>
         <%= hidden_field_tag(:energy, nil,  id:"thermo_energy_field") %>
         <table class="table">
	    <thead>
	      <tr><th>Massa(kg)</th><th>Tempo(s)</th><th title="E = P x &#916t">Energy(kJ)</th><th></th></tr>
	      <tr>
		 <th>
		   <%= number_field_tag(:volume, nil,  class:"thermo_input", step:"any", id:"thermo_volume_field") %>
		 </th>
		 <th>
		   <%= number_field_tag(:time, nil, class:"thermo_input", step:"any", id:"thermo_time_field") %>
		 </th>
		 <th id="thermo_energy_calculator" title="E = P x &#916t">
		   0.0
		 </th>
		 <th>
		   <%= submit_tag(:submeter, class:"btn btn-success", id:"thermo_add_data_point_button") %>
		 </th>
	      </tr>
	    </thead>
	  
	  
	  
	    <tbody id="thermo_data_collection">
	      
	    <%= render "tbody" %>
	    </tbody>
	  
	  </table>
    	  
      <% end %>
      <div id="thermo_data_collection_explanation">
      <p>Aqui pode recolher os dados necessários para a resolução da tarefa. </p><p>À direita, tem um calorímetro que pode encher com diferentes quantidades de água e aquecer. Os valores indicam a massa de água no calorímetro, o intervalo de tempo que durou o aquecimento e a temperatura da água. </p>
      <p>O aquecimento da água faz-se com uma resistência de 500W, o que permite saber a energia transferida para a água, se registarmos o intervalo de tempo que a resistência esteve ligada.</p>
      <p>Em cima, tem um formulário onde pode introduzir os dados recolhidos.</p>
      </div>
    </div>

    
    
    <div class="thermo_animation span7">
    <canvas id="canvas" width=400 height=500></canvas>
   
    <div id="controls">
    <div >
      <div id="volume" class="monitor">0.150 kg</div>
    <div id="volume_slider"></div>
    
    <div id="chrono" class="monitor">0.0 s</div>
    <div id="thermo" class="monitor">18.0 ºC</div>
    
    </div>
    
    <div class="btn-group">
    <button type="button" class="thermo_button btn btn-default" id="onoff">Aquecer</button>
    <button type="button" class="btn btn-default" id="restart">Reiniciar</button>
    </div>
    </div>
    </div>
    <img src="assets/calorimeter.png" class="paper_img" id="calorimeter"></img>


    <div class="btn-group thermo_navigator">
    <a type="button" class="thermo_button btn btn-primary" id="thermo_data-gathering_previous">Anterior</a>
    <a type="button" class="thermo_button btn btn-primary" id="thermo_data-gathering_next"  style="display:none">Seguinte</a>
  </div>
</section>





<section class="model-choice">

  <h1>Escolher o Modelo</h1>
  <div>
  <div class=" thermo_model_buttons">
    <div id="thermo_first_model_controls">
  <div class="btn-group">
    <a type="button" class="thermo_button btn" id="thermo_linear_button">Linear<br/> y = k x + b</a>
    <a type="button" class="thermo_button btn" id="thermo_quadratic_button">Quadrático<br /> y = k (x-h)<sup>2</sup> + b</a>
    <a type="button" class="thermo_button btn" id="thermo_cubic_button">Cúbico<br /> y = k (x-h)<sup>3</sup> + b</a>
  </div>
    
  <div id="thermo_buttons_explanation">Escolha um dos 3 modelos acima que descreva melhor aos dados recolhidos</div>
  <div class="thermo_function_controls" id="thermo_linear_controls">
    
    <div><div class="thermo_function_controls_label">k: <span id="thermo_linear_m">10000</span></div><div class="thermo_slider_controls" id="thermo_linear_m_slider"></div></div>
    <div><div class="thermo_function_controls_label">b: <span id="thermo_linear_b">0</span></div><div class="thermo_slider_controls" id="thermo_linear_b_slider"></div></div>

  </div>
  <div class="thermo_function_controls" id="thermo_quadratic_controls">
    <div><div class="thermo_function_controls_label">k: <span id="thermo_quadratic_k">15000</span></div><div class="thermo_slider_controls" id="thermo_quadratic_k_slider"></div></div>
    <div><div class="thermo_function_controls_label">h: <span id="thermo_quadratic_h">0</span></div><div class="thermo_slider_controls" id="thermo_quadratic_h_slider"></div></div>
    <div><div class="thermo_function_controls_label">b: <span id="thermo_quadratic_b">0</span></div><div class="thermo_slider_controls" id="thermo_quadratic_b_slider"></div></div>
  </div>

  <div class="thermo_function_controls" id="thermo_cubic_controls">
    <div><div class="thermo_function_controls_label">k: <span id="thermo_cubic_k">20000</span></div><div class="thermo_slider_controls" id="thermo_cubic_k_slider"></div></div>
    <div><div class="thermo_function_controls_label">h: <span id="thermo_cubic_h">0</span></div><div class="thermo_slider_controls" id="thermo_cubic_h_slider"></div></div>
    <div><div class="thermo_function_controls_label">b: <span id="thermo_cubic_b">0</span></div><div class="thermo_slider_controls" id="thermo_cubic_b_slider"></div></div>
  </div>
  
  <div>
    <div id="thermo_chosen_model_div">
      <span>
	 Modelo
      </span>
      <div id="thermo_chosen_model">
	 
      </div>
    </div>
    <div id="thermo_confirm_model_button_div">
      <a type="button" class="thermo_button btn btn-success" id="thermo_confirm_model_button">Usar este modelo</a>
    </div>
    </div>
  </div>
  </div>
  <div id="thermo_graph_super_div">
  <div>Energia necessária para aquecer água dos 18ºC até aos 26ºC em função da massa</div>
  <div id="thermo_graph_div">
    <div id="thermo_y_label">E (J)</div>
    
  <div id="thermo_graph"></div>
<div id="thermo_x_label">m (kg)</div>
  </div>
   </div>
  </div>
  <div class="btn-group thermo_navigator">
    <a type="button" class="thermo_button btn btn-primary" id="thermo_model-choice_previous">Anterior</a>
    </div>

  <script>
    var plot = $.plot($("#thermo_graph"), [
    {
    data: [],
    points: { show: true },
    
    }
    ],
    {
		     xaxis: { min:0, max: 0.8,
			     tickFormatter: function (v) {
                              if (v < 1) return v.toFixed(1);
				  if (v < 10000)
				      return v;
				  var e = 0, tmp = v;
				  while (tmp > 10) {
				      tmp /= 10;
				      e += 1;
				  }
				  return (v/Math.pow(10,e)).toFixed(1)+" x 10<sup>"+e+"</sup>";
			     }},
		     yaxis: { tickFormatter: function (v) {
				  if (v < 1) return v.toFixed(1);
				  if (v < 10000)
				      return v;
				  var e = 0, tmp = v;
				  while (tmp > 10) {
				      tmp /= 10;
				      e += 1;
				  }
				  return (v/Math.pow(10,e)).toFixed(1)+" x 10<sup>"+e+"</sup>";
			     }},
	            legend: { position: "se", backgroundOpacity: 0},
    }
    );
    
    
  </script>
</section>


<section class="questions">
  <h1>Questões Finais</h1>

  <div class="row" id="thermo_question_screen1"><div class="span2"></div>
    <div class="span9" id="thermo_questions_div">
      <%= form_tag(answers_path, remote: true) do %>
      <%= hidden_field_tag(:model, nil, id:"thermo_model_field") %>
      <%= hidden_field_tag(:question1, nil, id:"thermo_question1_field") %>
      <%= label_tag(:answer1, nil, id:"thermo_question1_label") %>
      <%= text_area_tag(:answer1, nil, id:"thermo_answer1_field") %>
      <%= hidden_field_tag(:question2, nil, id:"thermo_question2_field") %>
      <%= label_tag(:answer2, nil, id:"thermo_question2_label") %>
      <%= text_area_tag(:answer2, nil, id:"thermo_answer2_field") %>
      <%= hidden_field_tag(:question3, nil, id:"thermo_question3_field") %>
      <%= label_tag(:answer3, nil, id:"thermo_question3_label") %>
      <%= text_area_tag(:answer3, nil, id:"thermo_answer3_field") %>
      <%= hidden_field_tag(:question4, nil, id:"thermo_question4_field") %>
      <%= label_tag(:answer4, nil, id:"thermo_question4_label") %>
      <%= text_area_tag(:answer4, nil, id:"thermo_answer4_field") %>
      
      <br />
      <%= submit_tag(:save, value:"Submeter", confirm:"Deseja introduzir estas respostas?", class:"btn btn-success", style:"float: left") %>
      <% end %>
    </div>
    <div class="span3"></div>
  </div>

  <div class="row" id="thermo_question_screen2"><div class="span2"></div>
    <div class="span9" id="thermo_questions_after_div">
      Atividade terminada
    </div>
    
  </div>

  

  <div class="btn-group thermo_navigator">
    <a type="button" class="thermo_button btn btn-primary" id="thermo_questions_previous" style:"margin:20px 30px 0 0">Anterior</a>
  </div>
</section>

</div>
