
$('#thermo2_data_collection').html("<%= escape_javascript(render(:partial => 'thermal_capacities_materials/tbody')) %>");

$("#thermo2_temperature_field").on("keyup", function() {
	 if ($(this).val() == "") {
	     $("#thermo2_delta_calculator").text("0.0");
	     $("#thermo2_delta_field").val("");
	 }
	 else {
	     var t = parseFloat($(this).val());
	     if (t != NaN) {
		  $("#thermo2_delta_calculator").text((t-15.0).toFixed(1));
		  $("#thermo2_delta_field").val(t-15);
	     }
	 }
    });

if (<%= @data.count > 0 %>) {
$("#thermo2_data_collection_explanation").html("<%= t('thermo2.data5') %>");

$("#thermo2_data-gathering_next").show();
}
else {
     $("#thermo2_data_collection_explanation").html("<p><%= t('thermo2.data1') %></p>");
     $("#thermo2_data_collection_explanation").append("<p><%= t('thermo2.data2') %></p>");
     $("#thermo2_data_collection_explanation").append("<p><%= t('thermo2.data3') %></p>");
$("#thermo2_data-gathering_next").hide();
}
$(".form_input").val("");
$("#thermo2_delta_calculator").text("0.0");


$(".float-text").css({left: "-40px"});
$(".flot-y-axis").css({top: "-10px"});

