<div style="margin-top: -60px" >

<section class="name_getter" style="width:500px; margin: 200px auto ;">
  
  <p>Comece por introduzir o seu nome</p>
  <%= form_tag("/static_pages/set_name", remote:true, method: "get") do %>
  <%= text_field_tag(:name, nil, id:"student_name_field") %>
  <%= submit_tag(:ok, id:"student_name_submit", class:"btn btn-success", style:"margin-top: -14px;") %>
  <% end %>
</section>



<section class="background">
  <% if session[:deadline] %>
  <div class="alert alert-info">
  Esta tarefa será discutida na aula de <%= session[:deadline].strftime("%d/%m") %>. Deverá ser concluída antes dessa data.
  </div>
  <% end %>

<div id="thermo2_background_div">

<h1>Capacidade térmica massa - materiais</h1>
<p>...</p> <br />
<p>Esta questão será resolvida com a colaboração dos seus colegas. </p>

</div>
<div class="btn-group model_navigator">
<a type="button" class="thermo2_button btn btn-primary background_next" id="thermo2_background_next">Seguinte</a>
</div>
</section>



<section class="strategy">

<div id="thermo2_strategy_div">
  <h2>Estratégia</h2>
  <div>
  <p>...
  </p>
  <br />
  <p>
  Vamos usar um processo em que testamos o problema em pequena escala.  ... . Chama-se a isto construir um modelo.
  </p>
  </div>

  </div>
   
  <div class="btn-group model_navigator" style="margin-top: 10px">
    <a type="button" class="thermo2_button btn btn-primary strategy_previous" id="thermo2_strategy_previous">Anterior</a>
    <a type="button" class="thermo2_button btn btn-primary strategy_next" id="thermo2_strategy_next">Seguinte</a>
  </div>
</section>






<section class="data-gathering row">
  
<script type="text/paperscript" canvas="canvas">
  var water = new Raster("thermo2_gold");
  var alcohol = new Raster("thermo2_gold");
  var vegetal = new Raster("thermo2_gold");
  var aluminium = new Raster("thermo2_gold");
  var copper = new Raster("thermo2_gold");
  var brass = new Raster("thermo2_brass");

  water.position = view.center;
  water.visible = false;
  brass.visible = false;
  brass.position = view.center;
  alcohol.visible = false;
  alcohol.position = view.center;
  vegetal.visible = false;
  vegetal.position = view.center;
  aluminium.visible = false;
  aluminium.position = view.center;
  copper.visible = false;
  copper.position = view.center;
  

  var material = "";
  var specific_heats = { "water":4180, "aluminium":800, "vegetal oil":2000, "brass":600, "copper":1000, "alcohol":2000};

  var animation = false;
  var time = 0;
  var temperature = 15;
  var Q;
  var mass = 1;
  var P= 200;

  function onFrame(evt) {
     if (animation) {
         time += evt.delta;

         if (time > 180) {
            time = 180;
            $("#thermo2_onoff").click();
         }

         $("#thermo2_chrono").html(time.toFixed(1)+" s");
  
         Q = evt.delta * P*(1.1-Math.random()*0.2);
         temperature += Q /(mass*specific_heats[material]);
         
         $("#thermo2_temperature").html((Math.round(temperature*2)/2).toFixed(1)+" ºC");

         
     }
  }

  $(function() {
     $("#thermo2_materials_controls").on("click", "#thermo2_onoff", function() {
         animation = !animation;
         
     });

     $("#thermo2_materials_controls").on("click", "#thermo2_restart", function() {
         animation = false;
         time = 0;
         temperature = 15;
         $("#thermo2_chrono").html(time.toFixed(1)+" s");
         $("#thermo2_temperature").html(temperature.toFixed(1)+" ºC");
     });

     $("#thermo2_material").on("change", function() {
        var thing = $(this).val();
        $("#thermo2_restart").click();

        water.visible = false;
        brass.visible = false;
        copper.visible = false;
        vegetal.visible = false;
        aluminium.visible = false;
        alcohol.visible = false;
        
        if (thing === "Água") {
           water.visible = true;
           material = "water";
        }
        else if (thing === "Latão") {
           brass.visible = true;
           material = "brass";
        }
        else if (thing === "Alumínio") {
           aluminium.visible = true;
           material = "aluminium";
        }
        else if (thing === "Álcool") {
           alcohol.visible = true;
           material = "alcohol";
        }
        else if (thing === "Cobre") {
           copper.visible = true;
           material = "copper";
        }
        else if (thing === "Óleo vegetal") {
           vegetal.visible = true;
           material = "vegetal oil";
        }
        
     });
  });

</script>


<h1>Recolher Dados</h1>
<div>
  Escolha o material a estudar:
	   <select id="thermo2_material" style="display:inline; width:160px">
	      <option></option>
	      <option>Água</option>
	      <option>Álcool</option>
	      <option>Alumínio</option>
             <option>Cobre</option>
             <option>Latão</option>
	      <option>Óleo vegetal</option>
	   </select>
   
</div>

    <div class="model_data_form thermo2_data_form span5">
      <%= form_tag(data_points_path, remote: true) do %>
         <%= hidden_field_tag(:series, nil, id:"thermo2_material_series") %>
	 <%= hidden_field_tag(:y, nil,  id:"thermo2_energy_field") %>
         <table class="table">
	    <thead>
	      <tr><th>Temperatura(ºC)</th><th>Tempo(s)</th><th title="E = P x &#916t">Energia(kJ)</th><th></th></tr>
	      <tr>
		 <th>
		   <%= number_field_tag(:x, nil,  class:"form_input", step:0.1, id:"thermo2_volume_field", placeholder:"ºC", max:100, min:0) %>
		 </th>
		 <th>
		   <%= number_field_tag(:time, nil, class:"form_input", step:0.1, id:"thermo2_time_field", placeholder:"s", max:180, min: 0) %>
		 </th>
		 <th id="thermo2_energy_calculator" title="E = P x &#916t" style="text-align:center;padding-bottom:20px;">
		   0.0
		 </th>
		 
		 <th>
		   <%= submit_tag(:submeter, class:"btn btn-success", id:"thermo2_add_data_point_button", style:"margin-left:-15px;margin-top:-37px;") %>
		 </th>
	      </tr>
	    </thead>
	  
	  
	  
	    <tbody id="thermo2_data_collection">
	      
	    <%= render "tbody" %>
	    </tbody>
	  
	  </table>
    	  
      <% end %>
      <div id="thermo2_data_collection_explanation">
      <p>Aqui pode recolher os dados necessários para a resolução da tarefa. </p><p>À direita, tem uma balança onde pode medir a massa de diferentes modelos da estátua.  </p>
      <p>Em cima, tem um formulário onde pode introduzir os dados recolhidos.</p>
      </div>
    </div>

    
    
    <div class="thermo2_animation span7">
    <canvas id="canvas" width=400 height=500></canvas>
   
    
      <div id="thermo2_materials_controls" style="width:150px;  float:right; margin-top:-320px">
	 
	   
	   <div id="thermo2_chrono" class="monitor">0.0 s</div>
	   <div id="thermo2_temperature" class="monitor">15.0 ºC</div>

	   <div class="btn-group">
	     <button type="button" class="thermo2_button btn btn-default" id="thermo2_onoff">Ligar</button>
	     <button type="button" class="btn btn-default" id="thermo2_restart">Reiniciar</button>
	   </div>
	   
      </div>
    
    
    
    
    </div>
    <img src="assets/gold.png" class="paper_img" id="thermo2_gold"></img>
    <img src="assets/brass.png" class="paper_img" id="thermo2_brass"></img>
    

    <div class="btn-group model_navigator">
    <a type="button" class="thermo2_button btn btn-primary data-gathering_previous" id="thermo2_data-gathering_previous">Anterior</a>
    <a type="button" class="thermo2_button btn btn-primary data-gathering_next" id="thermo2_data-gathering_next"  style="display:none">Seguinte</a>
    </div>


    
    
</section>







<section class="model-choice">
  <div class="x_axis_unit axis_unit">l</div>
  <div class="y_axis_unit axis_unit">m</div>
      
  <h1>Escolher o Modelo</h1>
  <div>
  <div class="model_choice_buttons thermo2_model_buttons">
    <div class="model_first_model_controls" id="thermo2_first_model_controls">
  <div class="btn-group">
    <a type="button" class="thermo2_button btn linear_model_button" id="thermo2_linear_button">Linear<br/> y = k x + b</a>
    <a type="button" class="thermo2_button btn quadratic_model_button" id="thermo2_quadratic_button">Quadrático<br /> y = k (x-h)<sup>2</sup> + b</a>
    <a type="button" class="thermo2_button btn cubic_model_button" id="thermo2_cubic_button">Cúbico<br /> y = k (x-h)<sup>3</sup> + b</a>
  </div>
    
  <div class="model-choice_buttons_explanation" id="thermo2_buttons_explanation">Escolha um dos 3 modelos acima que descreva melhor aos dados recolhidos</div>
  <div class="linear_function_controls model_function_controls" id="thermo2_linear_controls">
    
    <div class="model_choice_slider_parent"><div class="function_controls_label">k: <span class="model_linear_m" id="thermo2_linear_m">120</span></div><div class="model_slider_controls model_linear_m_slider" id="thermo2_linear_m_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">b: <span class="model_linear_b" id="thermo2_linear_b">0</span></div><div class="model_slider_controls model_linear_b_slider" id="thermo2_linear_b_slider"></div></div>

  </div>
  <div class="quadratic_function_controls model_function_controls" id="thermo2_quadratic_controls">
    <div class="model_choice_slider_parent"><div class="function_controls_label">k: <span class="model_quadratic_k" id="thermo2_quadratic_k">2.6</span></div><div class="model_slider_controls model_quadratic_k_slider" id="thermo2_quadratic_k_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">h: <span class="model_quadratic_h" id="thermo2_quadratic_h">0</span></div><div class="model_slider_controls model_quadratic_h_slider" id="thermo2_quadratic_h_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">b: <span class="model_quadratic_b" id="thermo2_quadratic_b">0</span></div><div class="model_slider_controls model_quadratic_b_slider" id="thermo2_quadratic_b_slider"></div></div>
  </div>

  <div class="cubic_function_controls model_function_controls" id="thermo2_cubic_controls">
    <div class="model_choice_slider_parent"><div class="function_controls_label">k: <span class="model_cubic_k" id="thermo2_cubic_k">0.04</span></div><div class="model_slider_controls  model_cubic_k_slider" id="thermo2_cubic_k_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">h: <span class="model_cubic_h" id="thermo2_cubic_h">0</span></div><div class="model_slider_controls model_cubic_h_slider" id="thermo2_cubic_h_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">b: <span class="model_cubic_b" id="thermo2_cubic_b">0</span></div><div class="model_slider_controls model_cubic_b_slider" id="thermo2_cubic_b_slider"></div></div>
  </div>
  
  <div class="model_choice_model_information_div">
    <div class="model_choice_model_formula_parent" id="thermo2_chosen_model_div">
      <span>
	 Modelo
      </span>
      <div class="model_choice_model_formula" id="thermo2_chosen_model">
	 
      </div>
    </div>
    <div class="model_choice_model_confirm_button" id="thermo2_confirm_model_button_div">
      <a type="button" class=" model_confirm_model_button thermo2_button btn btn-success" id="thermo2_confirm_model_button">Usar este modelo</a>
    </div>
    </div>
  </div>
  </div>
  <div id="thermo2_graph_super_div">
  <div>Massa da estátua em função da altura</div>
  <div id="thermo2_graph_div">
    <div class="y_label_div" id="thermo2_y_label">m (kg)</div>
    
  <div class="graph_div" id="thermo2_graph"></div>
<div class="x_label_div" id="thermo2_x_label">l (m)</div>
  </div>
   </div>
  </div>
  <div class="btn-group model_navigator">
    <a type="button" class="thermo2_button btn btn-primary model-choice_previous" id="thermo2_model-choice_previous">Anterior</a>
    </div>

 
</section>
