<div style="margin-top: -60px" >


<section class="pos_filter">

<div id="thermo2_strategy_div">
  <h2><%= t("initial_question").capitalize %></h2>
  <div>
  <p><%= t "thermo2.strategyIntro" %>
  </p>
  <br />
  <p>
  <%= t "thermo2.strategyEnd" %>
  </p><br />
  <p>
  <%= t "thermo2.strategyPS" %>
  </p>
  </div>

  </div>
   
  <div class="btn-group model_navigator" style="margin-top: 10px">
    <a type="button" class="thermo2_button btn btn-primary strategy_next" id="thermo2_strategy_next"><%= t "next" %></a>
  </div>
</section>



<section class="modeling">

<div id="thermo2_modeling_div">
  <h2><%= t("modeling_process").capitalize %></h2>
  <div>
  <p><%= t "thermo2.modeling1" %>
  </p>
  <br />
  <p>
  <%= t "thermo2.modeling2" %>
  </p><br />
  <p>
  <%= t "thermo2.modeling3" %>
  </p>
  </div>

  </div>
   
  <div class="btn-group thermo_navigator" style="margin-top: 10px">
    <a type="button" class="thermo_button btn btn-primary modeling_previous" id="thermo_modeling_previous"><%= t "previous" %></a>
    <a type="button" class="thermo_button btn btn-primary modeling_next" id="thermo_modeling_next"><%= t "next" %></a>
  </div>
</section>




<section class="data-gathering row">
  
<script type="text/javascript">
  
$(function() {
    
    $(window).on("beforeunload", function() {
	$.ajax("answers/leave_page", {
            method: "post",
            }
        );
    });

    var canvas = $("#myCanvas");
    var context = canvas.get(0).getContext("2d");

    var loaded_images = 0;
    var water = new Image();
    water.src = "assets/water.png";
    $(water).load(function() {
	load_image();
    });
    var oil = new Image();
    oil.src = "assets/oil.png";
    $(oil).load(function() {
	load_image();
    });
    var copper = new Image();
    copper.src = "assets/copper.png";
    $(copper).load(function() {
	load_image();
    });
    var aluminium = new Image();
    aluminium.src = "assets/aluminium.png";
    $(aluminium).load(function() {
	load_image();
    });
    var iron = new Image();
    iron.src = "assets/iron.png";
    $(iron).load(function() {
	load_image();
    });

    var load_image = function() {
	loaded_images += 1;
	if (loaded_images === 5) {
            $("#thermo2_material").prop("disabled", false);
	}
    }


    var material = "";
    var specific_heats = { "water":4187, "aluminium":900, "oil":1970, "iron":460, "copper":386};

    var animation = false;
    var time = 0;
    var temperature = 15;
    var Q;
    var mass = 1;
    var P= 200;
    var animation_parameters = {last: 0, current: new Date().getTime(), dt: 0};
    
    $("#thermo2_materials_controls").on("click", "#thermo2_onoff", function() {
         animation = !animation;
         
    });

    $("#thermo2_materials_controls").on("click", "#thermo2_restart", function() {
        animation = false;
        time = 0;
        temperature = 15;
        $("#thermo2_chrono").html(time.toFixed(1)+" s");
        $("#thermo2_temperature").html(temperature.toFixed(1)+" ºC");
        $("#thermo2_onoff").html("Ligar");
    });


    $("#thermo2_material").on("change", function() {
        var thing = $(this).val();
        $("#thermo2_restart").click();

	context.clearRect(0,0,400,500);
        
        if (thing === "Água") {
            material = "water";
	    context.drawImage(water,0,0);
        }
        else if (thing === "Ferro") {
           material = "iron";
	    context.drawImage(iron,0,0);
        }
        else if (thing === "Alumínio") {
           material = "aluminium";
	    context.drawImage(aluminium,0,0);
        }
        
        else if (thing === "Cobre") {
           material = "copper";
	    context.drawImage(copper,0,0);
        }
        else if (thing === "Óleo vegetal") {
           material = "oil";
	    context.drawImage(oil,0,0);
        }
        
    });

    

    function render() {
	animation_parameters.last = animation_parameters.current;
	animation_parameters.current = new Date().getTime();
	animation_parameters.dt = animation_parameters.current-animation_parameters.last;
	
	if (animation) {
	    time += animation_parameters.dt;

	    if (time/1000. > 120) {
		time = 120000;
		$("#thermo2_onoff").click();
            }

            $("#thermo2_chrono").html((time/1000.).toFixed(1)+" s");
  
            Q = animation_parameters.dt/1000. * P*(1.2-Math.random()*0.4);
            temperature += Q /(mass*specific_heats[material]);
            
            $("#thermo2_temperature").html((Math.round(temperature*2)/2).toFixed(1)+" ºC");
	}
    }

    animate();






    (function() {
	var lastTime = 0;
	var vendors = ['ms', 'moz', 'webkit', 'o'];
	for(var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
            window.requestAnimationFrame = window[vendors[x]+'RequestAnimationFrame'];
            window.cancelRequestAnimationFrame = window[vendors[x]+
							'CancelRequestAnimationFrame'];
	}

	if (!window.requestAnimationFrame)
            window.requestAnimationFrame = function(callback, element) {
		var currTime = new Date().getTime();
		var delta_t = Math.max(0, 16 - (currTime - lastTime));
		var id = window.setTimeout(function() { callback(currTime + delta_t); }, 
					   delta_t);
		lastTime = currTime + delta_t;
		return id;
            };
	
	if (!window.cancelAnimationFrame)
            window.cancelAnimationFrame = function(id) {
		clearTimeout(id);
            };
    }());
    
    
    function animate() {
	window.requestAnimationFrame(animate);
	render();
    }

    
    
});


</script>


<div class="row">
  <div class="span6"><h1>Recolher Dados</h1></div>
  <div class="span6" style="margin-top:20px">
    Escolha o material a estudar:
    <select id="thermo2_material" style="display:inline; width:160px">
      <option></option>
      <option>Água</option>
      <option>Alumínio</option>
      <option>Cobre</option>
      <option>Ferro</option>
      <option>Óleo vegetal</option>
    </select>
</div>

   
</div>

    <div class="model_data_form thermo2_data_form span5">
      <%= form_tag(data_points_path, remote: true) do %>
         <%= hidden_field_tag(:series, nil, id:"thermo2_material_series") %>
	 <%= hidden_field_tag(:x, nil,  id:"thermo2_delta_field") %>
	 <%= hidden_field_tag(:y, nil,  id:"thermo2_energy_field") %>
         <table class="table">
	    <thead>
	      <tr><th>Temperatura(ºC)</th><th>&#916;T(ºC)</th><th >Energia(kJ)</th><th></th></tr>
	      <tr>
		 <th>
		   <%= number_field_tag(:temperature, nil,  class:"form_input", step:0.1, id:"thermo2_temperature_field", placeholder:"ºC", max:80, min:15) %>
		 </th>
		 <th style="padding-bottom:20px" id="thermo2_delta_calculator">
		   0.0
		 </th>
		 <th  title="E = P x &#916;t" style="text-align:center;">
		   <%= number_field_tag(:energy, nil, class:"form_input", step:0.001, id:"thermo2_kJ_field", placeholder:"kJ", max:30, min: 0) %>
		   
		 </th>
		 
		 <th>
		   <%= submit_tag(:submeter, class:"btn btn-success", id:"thermo2_add_data_point_button", style:"margin-top:-37px;") %>
		 </th>
	      </tr>
	    </thead>
	  
	  
	  
	    <tbody id="thermo2_data_collection">
	      
	    <%= render "tbody" %>
	    </tbody>
	  
	  </table>
    	  
      <% end %>
      <div id="thermo2_data_collection_explanation">
      <p>Aqui pode recolher os dados necessários para a resolução da tarefa. </p><p>À direita, tem uma balança onde pode medir a massa de diferentes modelos da estátua.  </p>
      <p>Em cima, tem um formulário onde pode introduzir os dados recolhidos.</p>
      </div>
    </div>

    
    
    <div class="thermo2_animation span7">
    <canvas id="myCanvas" width=400 height=500></canvas>
   
    
      <div id="thermo2_materials_controls" style="width:150px;  float:right; margin-top:-320px">
	 
	   
	   <div id="thermo2_chrono" class="monitor">0.0 s</div>
	   <div id="thermo2_temperature" class="monitor">15.0 ºC</div>

	   <div class="btn-group">
	     <button type="button" class="thermo2_button btn btn-default" id="thermo2_onoff">Ligar</button>
	     <button type="button" class="btn btn-default" id="thermo2_restart">Reiniciar</button>
	   </div>
	   
      </div>
    
    
    
    
    </div>
    

    <div class="btn-group model_navigator">
    <a type="button" class="thermo2_button btn btn-primary data-gathering_previous" id="thermo2_data-gathering_previous"><%= t "previous" %></a>
    <a type="button" class="thermo2_button btn btn-primary data-gathering_next" id="thermo2_data-gathering_next"  style="display:none"><%= t "next" %></a>
    </div>


    
    
</section>







<section class="model-choice">
  <div>
    <div class="x_axis_unit axis_unit">&#916;T</div>
    <div class="y_axis_unit axis_unit">E</div>
    
    <div class="row">
      <h3>Escolher a equação que melhor descreve cada conjunto de dados</h3>
    </div>

    <div class="row">
      <div class="span6" id="thermo2_graph_super_div">
	<div>Energia necessária para variar a temperatura de 1kg de material em  &#916;T</div>
	<div id="thermo2_graph_div">
	  <div class="y_label_div" id="thermo2_y_label">E (J)</div>
    
	  <div class="graph_div" id="thermo2_graph"></div>
	  <div  class="x_label_div" id="thermo2_x_label"><span>&#916;T (ºC)</span> <div class="btn-group model_navigator x_axis_scaler" style="float:right;margin-right:-50px" ><a type="button" class="btn btn-mini scale_minus" id="thermo2_axis_small">-</a><a type="button" class="btn btn-mini scale_plus" id="thermo2_axis_big">+</a></div></div>
	</div>
	
      </div>
      <div class="span1"><div id="thermo2_container_subtitles"></div></div>
      <div class="span5 ">
	<div class="thermo2_model_cell">
	  <div class="thermo2_model_name">Água</div>
	  <div>
	    <div ><span class="thermo2_model_formula" id="thermo2_water_model">E = 0</span><div id="thermo2_water_k" class="thermo2_slider_controls" style="width:200px;display:inline-block;float:right;"></div></div>  
	  </div>
	</div>

	<div class="thermo2_model_cell">
	  <div class="thermo2_model_name">Alumínio</div>
	  <div>
	    <div ><span class="thermo2_model_formula" id="thermo2_aluminium_model">E = 0</span><div id="thermo2_aluminium_k" class="thermo2_slider_controls" style="width:200px;display:inline-block;float:right;"></div></div>  
	  </div>
	</div>

	<div class="thermo2_model_cell">
	  <div class="thermo2_model_name">Cobre</div>
	  <div>
	    <div ><span class="thermo2_model_formula" id="thermo2_copper_model">E = 0</span><div id="thermo2_copper_k" class="thermo2_slider_controls" style="width:200px;display:inline-block;float:right;"></div></div>  
	  </div>
	</div>

	<div class="thermo2_model_cell">
	  <div class="thermo2_model_name">Ferro</div>
	  <div>
	    <div ><span class="thermo2_model_formula" id="thermo2_iron_model">E = 0</span><div id="thermo2_iron_k" class="thermo2_slider_controls" style="width:200px;display:inline-block;float:right;"></div></div>  
	  </div>
	</div>

	<div class="thermo2_model_cell">
	  <div class="thermo2_model_name">Óleo vegetal</div>
	  <div>
	    <div ><span class="thermo2_model_formula" id="thermo2_oil_model">E = 0</span><div id="thermo2_oil_k" class="thermo2_slider_controls" style="width:200px;display:inline-block;float:right;"></div></div>  
	  </div>
	</div>

	<div id="thermo2_model-choice_instructions">Quando tiver as equações desejadas avance para a tarefa seguinte<br /><br /></div>
	
      </div>
      
    </div>
    
  </div>

  
  <div class="row">
    <div class="btn-group model_navigator">
      <a type="button" class="thermo2_button btn btn-primary model-choice_previous" id="thermo2_model-choice_previous">Anterior</a>
      <a type="button" class="thermo2_button btn btn-primary model-choice_next" id="thermo2_model-choice_next">Seguinte</a>
    </div>
  </div>

 
</section>





<section class="questions">
  <h1>Questões Finais</h1>

  <div class="row model_question_screen1" id="thermo2_question_screen1"><div class="span2"></div>
    <div class="span9" id="thermo2_questions_div">
      <%= form_tag(answers_path, remote: true) do %>
      <%= hidden_field_tag(:model, nil, id:"thermo2_model_field", class:"question_model_field") %>
      <%= hidden_field_tag(:question1, nil, id:"thermo2_question1_field", class:"question_question1_field") %>
      <%= label_tag(:answer1, nil, id:"thermo2_question1_label", class:"question_question1_label") %>
      <%= text_area_tag(:answer1, nil, id:"thermo2_answer1_field", class:"question_answer1_field") %>
      <%= hidden_field_tag(:question2, nil, id:"thermo2_question2_field", class:"question_question2_field") %>
      <%= label_tag(:answer2, nil, id:"thermo2_question2_label", class:"question_question2_label") %>
      <%= text_area_tag(:answer2, nil, id:"thermo2_answer2_field", class:"question_answer2_field") %>
      <%= hidden_field_tag(:question3, nil, id:"thermo2_question3_field", class:"question_question3_field") %>
      <%= hidden_field_tag(:answer3, nil, id:"thermo2_answer3_field", class:"question_answer3_field") %>
      <%= hidden_field_tag(:question4, nil, id:"thermo2_question4_field", class:"question_question4_field") %>
      <%= label_tag(:answer4, nil, id:"thermo2_question4_label", class:"question_question4_label") %>
      <%= text_area_tag(:answer4, nil, id:"thermo2_answer4_field", class:"question_answer4_field") %>
      
      <br />
      <%= submit_tag(:save, value:"Submeter", confirm:"Deseja introduzir estas respostas?", class:"btn btn-success questions_confirm_answers_button", style:"float: left") %>
      <% end %>
    </div>
    <div class="span3"></div>
  </div>

  <div class="row model_question_screen2" id="thermo2_question_screen2"><div class="span2"></div>
    <div class="span9" id="thermo2_questions_after_div">
      Atividade terminada
    </div>
    
  </div>

  

  <div class="btn-group thermo2_navigator model_navigator">
    <a type="button" class="thermo2_button btn btn-primary model_questions_previous" id="thermo2_questions_previous" style:"margin:20px 30px 0 0">Anterior</a>
  </div>
</section>



</div>
