<%= render "layouts/navbar" %>


<div class="row">
  <section class="span8" id="ptolemy_template_description">
    <h1><%= @template.title %></h1>

    <p><%= raw(@template.description) %></p>
  </section>
  
  
  <section class="span3" id="ptolemy_activity_recicle">

    <h3>Criar esta atividade</h3>

    <%= form_for(@activity) do |f| %>
    
    <%= f.hidden_field :template_id, value:"#{@template.id}" %>

    <%= f.label :title, "Título", title:"Título que será visível pelos alunos" %>
    <%= f.text_field :title, title:"Título que será visível pelos alunos" %>

    <%= f.label :description, "Descrição", title:"Opcional - Descrição para o professor, não será visível pelos alunos" %>
    <%= f.text_field :description, title:"Opcional - Descrição para o professor, não será visível pelos alunos" %>

    <%= f.label :code, "Código", title:"Código que deverá ser entregue aos alunos para poderem aceder à atividade" %>
    <%= f.text_field :code, title:"Código que deverá ser entregue aos alunos para poderem aceder à atividade" %>

    <%= f.label :deadline, "Limite", title:"Opcional - Data limite para realização da atividade" %>
    <%= f.text_field :deadline,  title:"Opcional - Data limite para realização da atividade", class:"datepicker" %>

    
    <%= f.submit "Criar", class:"btn btn-success", style:"float:right; margin-right: 18%" %>

    <% end %>
</section>


</div>
