<h1><%= @template.title %></h1>

<p><%= raw(@template.description) %></p>


<section>

<h3>Criar nova actividade</h3>

<%= form_for(@activity) do |f| %>

<%= f.hidden_field :template_id, value:"#{@template.id}" %>

<%= f.label :title, "Título", title:"Altere o título se desejar" %>
<%= f.text_field :title, title:"Altere o título se desejar" %>

<%= f.label :code, "Código", title:"Código que deverá ser entregue aos alunos para poderem aceder à atividade" %>
<%= f.text_field :code, title:"Código que deverá ser entregue aos alunos para poderem aceder à atividade" %>

<%= f.label :deadline, "Limite", title:"Opcional - Data limite para realização da atividade" %>
<%= f.text_field :deadline,  title:"Opcional - Data limite para realização da atividade" %>

<%= f.label :published, "Publicar" %>


<%= f.submit "Criar", class:"btn btn-success" %>

<% end %>
</section>
