
$('#statue_data_collection').html("");

$('#statue_data_collection').html("<%= escape_javascript(render(:partial => 'statues/tbody')) %>");


if (<%= @data.count != 0 %>) {
   <% if @data.count == 1 && @data.first.x != 0 %>
   
      $("#fancy_size").html(<%= @data.first.x %>);
      $("#fancy_mass").html(<%= @data.first.y %>);
      $("#fancy_trigger").click();
   <% elsif @data.count == 2 && @data.first.x == 0 %> 
      $("#fancy_size").html(<%= @data.last.x %>);
      $("#fancy_mass").html(<%= @data.last.y %>);
      $("#fancy_trigger").click();
   <% end %>
     

$("#statue_data_collection_explanation").html("<p><%= t 'statue.data4' %></p>");

$("#statue_data-gathering_next").show();
}
else {
     $("#statue_data_collection_explanation").html("<p><%= t 'statue.data1' %></p>");
     $("#statue_data_collection_explanation").append("<p><%= t 'statue.data2' %></p>");
     $("#statue_data_collection_explanation").append("<p><%= t 'statue.data3' %></p>");

$("#statue_data-gathering_next").hide();
}

$("#statue_mass_field").val("");
$("#statue_size_field").val("");
