
$('#statue_data_collection').html("");

$('#statue_data_collection').html("<%= escape_javascript(render(:partial => 'statues/tbody')) %>");


if (<%= @data.count != 0 %>) {
   <% if @data.count == 1 && @data.first.x != 0 %>
   
      $("#fancy_size").html(<%= @data.first.x %>);
      $("#fancy_mass").html(<%= @data.first.y %>);
      $("#fancy_trigger").click();
   <% elsif @data.count == 2 && @data.first.x == 0 %> 
      $("#fancy_size").html(<%= @data.last.x %>);
      $("#fancy_mass").html(<%= @data.last.y %>);
      $("#fancy_trigger").click();
   <% end %>
     

$("#statue_data_collection_explanation").html("<p>Recolha mais dados ou avance para a tarefa seguinte</p>");

$("#statue_data-gathering_next").show();
}
else {
     $("#statue_data_collection_explanation").html("<p>Aqui pode recolher os dados necessários para a resolução da tarefa. </p><p>À direita, tem uma balança onde pode medir a massa de diferentes modelos da estátua.  </p>");

$("#statue_data-gathering_next").hide();
}

var options = {
     xaxis: { min:0, max: 0.60,
			     tickFormatter: function (v) {
			         if (v < 1) return v.toFixed(1);
				  if (v < 10000)
				      return v;
				  var e = 0, tmp = v;
				  while (tmp > 10) {
				      tmp /= 10;
				      e += 1;
				  }
				  return (v/Math.pow(10,e)).toFixed(1)+" x 10<sup>"+e+"</sup>";
			     }},
     yaxis: { min:0, tickFormatter: function (v) {
				  if (v < 1) return v.toFixed(1);
				  if (v < 10000)
				      return v;
				  var e = 0, tmp = v;
				  while (tmp > 10) {
				      tmp /= 10;
				      e += 1;
				  }
				  return (v/Math.pow(10,e)).toFixed(1)+" x 10<sup>"+e+"</sup>";
			     }
    },
    legend: { position: "se", backgroundOpacity: 0},
};

$.plot($("#statue_graph"), [
    {
     data: <%= @plot_data %>,
     points: { show: true },
     label: "Dados obtidos pelos seus colegas"
     
    },
    {
     data: <%= @user_data %>,
     points: { show: true },
     label: "Dados obtidos por si"
     
    },
    
  ],
    options
  );


$("#statue_mass_field").val("");
$("#statue_size_field").val("");
