<div style="margin-top: -60px" >

<section class="name_getter" style="width:500px; margin: 200px auto ;">
  
  <p>Comece por introduzir o seu nome</p>
  <%= form_tag("/static_pages/set_name", remote:true, method: "get") do %>
  <%= text_field_tag(:name, nil, id:"student_name_field") %>
  <%= submit_tag(:ok, id:"student_name_submit", class:"btn btn-success", style:"margin-top: -14px;") %>
  <% end %>
</section>



<section class="background">
  <% if session[:deadline] %>
  <div class="alert alert-info">
  Esta tarefa será discutida na aula de <%= session[:deadline].strftime("%d/%m") %>. Deverá ser concluída antes dessa data.
  </div>
  <% end %>

<div id="statue_background_div">

<h1>A massa da estátua</h1>
<p>Nesta atividade estamos interessados em estimar a massa de uma estátua.</p> <br />
<p>Esta questão será resolvida com a colaboração dos seus colegas. </p>

</div>
<div class="btn-group statue_navigator">
<a type="button" class="statue_button btn btn-primary background_next" id="statue_background_next">Seguinte</a>
</div>
</section>



<section class="strategy">

<div id="statue_strategy_div">
  <h2>Estratégia</h2>
  <div>
  <p>...
  </p>
  <br />
  <p>
  Vamos usar um processo em que testamos o problema em pequena escala. Se se construir versões mais pequenas da estátua poderemos verificar a sua massa. Assim tentamos descobrir um padrão que nos permita tirar conclusões sobre o caso da estátua maior. Chama-se a isto construir um modelo.
  </p>
  </div>

  </div>
   
  <div class="btn-group statue_navigator" style="margin-top: 10px">
    <a type="button" class="statue_button btn btn-primary strategy_previous" id="statue_strategy_previous">Anterior</a>
    <a type="button" class="statue_button btn btn-primary strategy_next" id="statue_strategy_next">Seguinte</a>
  </div>
</section>






<section class="data-gathering row">
  
<script type="text/paperscript" canvas="canvas">

  
var size0 = 10;
var size = 10;

var scale = new Raster("statue_scale");
scale.position = view.center+new Point(0,150);
scale.scale(0.5);

var statue = new Raster("statue_statue");
statue.position = view.center+new Point(0,85);
statue.scale(0.25);
var height = statue.bounds.height;
var y = 0;
var mass0 = 0.092;
var mass = mass0;

var text = new PointText(new Point(130,442));
text.content = mass*1000+" g";


var verticalLine = new Path.Line(new Point(350,statue.bounds.bottom), new Point(350,statue.bounds.top));
verticalLine.strokeColor = "black";
var sizeText = new PointText(new Point(357,300));
sizeText.content = size.toFixed(0) +" cm";
var topLine = new Path.Line(new Point(345, statue.bounds.top), new Point(355, statue.bounds.top));
topLine.strokeColor = "black";
var bottomLine = new Path.Line(new Point(345, statue.bounds.bottom), new Point(355, statue.bounds.bottom));
bottomLine.strokeColor = "black";


$(document).ready(function() {
    $("#statue_size_controls").on("slide", "#statue_size_slider", function(evt, ui) {
        
        statue.scale(1/size);
		    size = ui.value;
		    statue.scale(size);
		    statue.position.y += y;
		    y = (statue.bounds.height-height)/2;
		    statue.position.y -= y;
		    mass = mass0*Math.pow(size/size0,3);
		    text.content = (mass*1000*(1.05-0.1*Math.random())).toFixed(0)+" g";
		    verticalLine.segments[1].point = new Point(350,statue.bounds.top);
		    sizeText.content = size.toFixed(0) +" cm";
		    topLine.position.y = statue.bounds.top;
    });


    
});

</script>


<h1>Recolher Dados</h1>
        
    <div class="model_data_form statue_data_form span5">
      <%= form_tag(data_points_path, remote: true) do %>
         <table class="table">
	    <thead>
	      <tr><th>altura(m)</th><th>massa(kg)<th></th></tr>
	      <tr>
		 <th>
		   <%= number_field_tag(:x, nil,  class:"statue_input", placeholder:"metro",step:0.0001, id:"statue_size_field", max:1, min:0) %>
		 </th>
		 <th>
		   <%= number_field_tag(:y, nil, class:"statue_input", placeholder:"quilograma",step:0.001,  id:"statue_mass_field", max: 15, min:0) %>
		 </th>
		 
		 <th>
		   <%= submit_tag(:submeter, class:"btn btn-success model_add_data_point_button", id:"statue_add_data_point_button", style:"margin-top:-37px") %>
		 </th>
	      </tr>
	    </thead>
	  
	  
	  
	    <tbody class="model_data_collection" id="statue_data_collection">
	      
	    <%= render "tbody" %>
	    </tbody>
	  
	  </table>
    	  
      <% end %>
      <div id="statue_data_collection_explanation">
      <p>Aqui pode recolher os dados necessários para a resolução da tarefa. </p><p>À direita, tem uma balança onde pode medir a massa de diferentes modelos da estátua.  </p>
      <p>Em cima, tem um formulário onde pode introduzir os dados recolhidos.</p>
      </div>
    </div>

    
    
    <div class="statue_animation span7">
    <canvas id="canvas" width=400 height=500></canvas>
   
    
      <div id="statue_size_controls" style="width:150px;  float:right; margin-top:-120px">
	 <div id="statue_size_label">Altura</div>
	 <div id="statue_size_slider"></div>
      </div>
    
    
    
    
    </div>
    <img src="assets/statue.png" class="paper_img" id="statue_statue"></img>
    <img src="assets/scale.png" class="paper_img" id="statue_scale"></img>
    

    <div class="btn-group statue_navigator">
    <a type="button" class="statue_button btn btn-primary data-gathering_previous" id="statue_data-gathering_previous">Anterior</a>
    <a type="button" class="statue_button btn btn-primary data-gathering_next" id="statue_data-gathering_next"  style="display:none">Seguinte</a>
    </div>


    <a href="#fancydiv" class="fancybox" id="fancy_trigger" style="display:none">sdkfaj</a>

    <div  style="display:none;">
      <div id="fancydiv">
      <p>Verificou que uma estátua de <span id="fancy_size">0.1</span>m tem uma massa de <span id="fancy_mass">0.095</span>kg.<br /> Antes de continuar com a atividade tente prever qual a massa da estátua de 2.5m.</p>
      <%= form_tag(add_prediction_statues_path, remote:true) do %>
      <div class="form-horizontal">
      <%= number_field_tag(:mass,"", step:0.001, placeholder:"previsão (kg)") %>
      <%= submit_tag(:submeter, class:"btn btn-success") %>
      <%= link_to "Não fazer previsão", "#", id:"fancy_close", style:"margin-left:30px;" %>
      </div>
      <% end %>
      </div>
    </div>
</section>






<section class="model-choice">
  <div class="x_axis_unit axis_unit">l</div>
  <div class="y_axis_unit axis_unit">m</div>
      
  <h1>Escolher o Modelo</h1>
  <div>
  <div class="model_choice_buttons statue_model_buttons">
    <div class="model_first_model_controls" id="statue_first_model_controls">
  <div class="btn-group">
    <a type="button" class="statue_button btn linear_model_button" id="statue_linear_button">Linear<br/> y = k x + b</a>
    <a type="button" class="statue_button btn quadratic_model_button" id="statue_quadratic_button">Quadrático<br /> y = k (x-h)<sup>2</sup> + b</a>
    <a type="button" class="statue_button btn cubic_model_button" id="statue_cubic_button">Cúbico<br /> y = k (x-h)<sup>3</sup> + b</a>
  </div>
    
  <div class="model-choice_buttons_explanation" id="statue_buttons_explanation">Escolha um dos 3 modelos acima que descreva melhor aos dados recolhidos</div>
  <div class="linear_function_controls model_function_controls" id="statue_linear_controls">
    
    <div class="model_choice_slider_parent"><div class="function_controls_label">k: <span class="model_linear_m" id="statue_linear_m">120</span></div><div class="model_slider_controls model_linear_m_slider" id="statue_linear_m_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">b: <span class="model_linear_b" id="statue_linear_b">0</span></div><div class="model_slider_controls model_linear_b_slider" id="statue_linear_b_slider"></div></div>

  </div>
  <div class="quadratic_function_controls model_function_controls" id="statue_quadratic_controls">
    <div class="model_choice_slider_parent"><div class="function_controls_label">k: <span class="model_quadratic_k" id="statue_quadratic_k">2.6</span></div><div class="model_slider_controls model_quadratic_k_slider" id="statue_quadratic_k_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">h: <span class="model_quadratic_h" id="statue_quadratic_h">0</span></div><div class="model_slider_controls model_quadratic_h_slider" id="statue_quadratic_h_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">b: <span class="model_quadratic_b" id="statue_quadratic_b">0</span></div><div class="model_slider_controls model_quadratic_b_slider" id="statue_quadratic_b_slider"></div></div>
  </div>

  <div class="cubic_function_controls model_function_controls" id="statue_cubic_controls">
    <div class="model_choice_slider_parent"><div class="function_controls_label">k: <span class="model_cubic_k" id="statue_cubic_k">0.04</span></div><div class="model_slider_controls  model_cubic_k_slider" id="statue_cubic_k_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">h: <span class="model_cubic_h" id="statue_cubic_h">0</span></div><div class="model_slider_controls model_cubic_h_slider" id="statue_cubic_h_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">b: <span class="model_cubic_b" id="statue_cubic_b">0</span></div><div class="model_slider_controls model_cubic_b_slider" id="statue_cubic_b_slider"></div></div>
  </div>
  
  <div class="model_choice_model_information_div">
    <div class="model_choice_model_formula_parent" id="statue_chosen_model_div">
      <span>
	 Modelo
      </span>
      <div class="model_choice_model_formula" id="statue_chosen_model">
	 
      </div>
    </div>
    <div class="model_choice_model_confirm_button" id="statue_confirm_model_button_div">
      <a type="button" class=" model_confirm_model_button statue_button btn btn-success" id="statue_confirm_model_button">Usar este modelo</a>
    </div>
    </div>
  </div>
  </div>
  <div id="statue_graph_super_div">
  <div>Massa da estátua em função da altura</div>
  <div id="statue_graph_div">
    <div class="y_label_div" id="statue_y_label">m (kg)</div>
    
  <div class="graph_div" id="statue_graph"></div>
<div class="x_label_div" id="statue_x_label">l (m)</div>
  </div>
   </div>
  </div>
  <div class="btn-group statue_navigator">
    <a type="button" class="statue_button btn btn-primary model-choice_previous" id="statue_model-choice_previous">Anterior</a>
    </div>

  <script>
    var plot = $.plot($("#statue_graph"), [
    {
    data: [],
    points: { show: true },
    
    }
    ],
    {
		     xaxis: { min:0, max: 60,
			     tickFormatter: function (v) {
                              if (v < 1) return v.toFixed(1);
				  if (v < 10000)
				      return v;
				  var e = 0, tmp = v;
				  while (tmp > 10) {
				      tmp /= 10;
				      e += 1;
				  }
				  return (v/Math.pow(10,e)).toFixed(1)+" x 10<sup>"+e+"</sup>";
			     }},
		     yaxis: { tickFormatter: function (v) {
				  if (v < 1) return v.toFixed(1);
				  if (v < 10000)
				      return v;
				  var e = 0, tmp = v;
				  while (tmp > 10) {
				      tmp /= 10;
				      e += 1;
				  }
				  return (v/Math.pow(10,e)).toFixed(1)+" x 10<sup>"+e+"</sup>";
			     }},
	            legend: { position: "se", backgroundOpacity: 0},
    }
    );
    
    
  </script>
</section>







<section class="questions">
  <h1>Questões Finais</h1>

  <div class="row model_question_screen1" id="statue_question_screen1"><div class="span2"></div>
    <div class="span9" id="statue_questions_div">
      <%= form_tag(answers_path, remote: true) do %>
      <%= hidden_field_tag(:model, nil, id:"statue_model_field", class:"question_model_field") %>
      <%= hidden_field_tag(:question1, nil, id:"statue_question1_field", class:"question_question1_field") %>
      <%= label_tag(:answer1, nil, id:"statue_question1_label", class:"question_question1_label") %>
      <%= text_area_tag(:answer1, nil, id:"statue_answer1_field", class:"question_answer1_field") %>
      <%= hidden_field_tag(:question2, nil, id:"statue_question2_field", class:"question_question2_field") %>
      <%= label_tag(:answer2, nil, id:"statue_question2_label", class:"question_question2_label") %>
      <%= text_area_tag(:answer2, nil, id:"statue_answer2_field", class:"question_answer2_field") %>
      <%= hidden_field_tag(:question3, nil, id:"statue_question3_field", class:"question_question3_field") %>
      <%= hidden_field_tag(:answer3, nil, id:"statue_answer3_field", class:"question_answer3_field") %>
      <%= hidden_field_tag(:question4, nil, id:"statue_question4_field", class:"question_question4_field") %>
      <%= label_tag(:answer4, nil, id:"statue_question4_label", class:"question_question4_label") %>
      <%= text_area_tag(:answer4, nil, id:"statue_answer4_field", class:"question_answer4_field") %>
      
      <br />
      <%= submit_tag(:save, value:"Submeter", confirm:"Deseja introduzir estas respostas?", class:"btn btn-success questions_confirm_answers_button", style:"float: left") %>
      <% end %>
    </div>
    <div class="span3"></div>
  </div>

  <div class="row model_question_screen2" id="statue_question_screen2"><div class="span2"></div>
    <div class="span9" id="statue_questions_after_div">
      Atividade terminada
    </div>
    
  </div>

  

  <div class="btn-group statue_navigator">
    <a type="button" class="statue_button btn btn-primary model_questions_previous" id="statue_questions_previous" style:"margin:20px 30px 0 0">Anterior</a>
  </div>
</section>



</div>
