<div style="margin-top: -60px" >

<% if !@user %>
<section class="name_getter" style="width:500px; margin: 200px auto ;">
  
  <p><%= t "getName" %></p>
  <%= form_tag("/static_pages/set_name", remote:true, method: "get", class:"form-horizontal") do %>
  <%= text_field_tag(:name, nil, id:"student_name_field") %>
  <%= submit_tag(:ok, id:"student_name_submit", class:"btn btn-success") %>
  <% end %>
</section>
<% end %>


<section class="background <% if !@user %>hidden_section<% end %>">
  <% if session[:deadline] %>
  <div class="alert alert-info">
  <%= t "deadline.intro" %><%= session[:deadline].strftime("%d/%m") %><%= t "deadline.end" %>
  </div>
  <% end %>

<div id="statue_background_div">

<h1>A massa da estátua</h1>
<p>Nesta atividade estamos interessados em estimar a massa de uma estátua.</p> <br />
<p>Esta questão será resolvida com a colaboração dos seus colegas. </p>

</div>
<div class="btn-group statue_navigator">
<a type="button" class="statue_button btn btn-primary background_next" id="statue_background_next"><%= t "next" %></a>
</div>
</section>



<section class="strategy">

<div id="statue_strategy_div">
  <h2><%= t("strategy").capitalize %></h2>
  <div>
  <p>...
  </p>
  <br />
  <p>
  Vamos usar um processo em que testamos o problema em pequena escala. Se se construir versões mais pequenas da estátua poderemos verificar a sua massa. Assim tentamos descobrir um padrão que nos permita tirar conclusões sobre o caso da estátua maior. Chama-se a isto construir um modelo.
  </p>
  </div>

  </div>
   
  <div class="btn-group statue_navigator" style="margin-top: 10px">
    <a type="button" class="statue_button btn btn-primary strategy_previous" id="statue_strategy_previous"><%= t("previous") %></a>
    <a type="button" class="statue_button btn btn-primary strategy_next" id="statue_strategy_next"><%= t("next") %></a>
  </div>
</section>






<section class="data-gathering row">
  
<script type="text/javascript">
$(function() {
    
    var canvas = $("#myCanvas");
    var context = canvas.get(0).getContext("2d");
    var canvas_width = 400;
    var canvas_height = 500;
    
    var time = 0;
    var animation = false;

    var animation_parameters = {last: 0, current: 0, dt:0};
    var ratio = 0.5;
    var height = 0.5;
    var mass = 123;

    var scale = new Image();
    var statue = new Image();

    scale.src = "assets/scale.png";
    $(scale).load(function() {
        statue.src = "assets/statue.png";
	draw_scale();

    });

    
    $(statue).load(function() {
	draw_statue();
    });

    function draw_statue() {
	context.scale(ratio,ratio);
	context.drawImage(statue,canvas_width/ratio*0.5-statue.width/2,canvas_height/ratio*0.78-statue.height);
	context.scale(1/ratio,1/ratio);

	context.beginPath();
	context.moveTo(324,388);
	context.lineTo(336,388);
	context.moveTo(330,388);
	context.lineTo(330,388-statue.height*ratio);
	context.moveTo(324,388-statue.height*ratio);
	context.lineTo(336,388-statue.height*ratio);
	context.closePath();
	context.stroke();

	var h = height*100*ratio;
	context.fillText(h.toFixed(0)+" cm", 350, 365);
    }

    function draw_scale() {
	context.drawImage(scale,50,350);
	var m = mass*Math.pow(height*ratio/0.1, 3)*(1.02-Math.random()*0.04)
	context.fillText(m.toFixed(0)+" g", 150, 465);
    }


     $("#statue_size_controls").on("slide", "#statue_size_slider", function(evt, ui) {
	    ratio = ui.value/50.;
	    context.clearRect(0,0,400,500);
	    draw_scale();
	    draw_statue();
	
    });

    
 
    
});

</script>


<h1><%= t "collectData" %></h1>
        
    <div class="model_data_form statue_data_form span5">
      <%= form_tag(data_points_path, remote: true) do %>
         <table class="table">
	    <thead>
	      <tr><th><%= t("height") %>(m)</th><th><%= t("mass") %>(kg)<th></th></tr>
	      <tr>
		 <th>
		   <%= number_field_tag(:x, nil,  class:"statue_input", placeholder:"metro",step:0.0001, id:"statue_size_field", max:1, min:0) %>
		 </th>
		 <th>
		   <%= number_field_tag(:y, nil, class:"statue_input", placeholder:"quilograma",step:0.001,  id:"statue_mass_field", max: 20, min:0) %>
		 </th>
		 
		 <th>
		   <%= submit_tag(:submeter, value: t('submit'), class:"btn btn-success model_add_data_point_button", id:"statue_add_data_point_button", style:"margin-top:-37px") %>
		 </th>
	      </tr>
	    </thead>
	  
	  
	  
	    <tbody class="model_data_collection" id="statue_data_collection">
	      
	    <%= render "tbody" %>
	    </tbody>
	  
	  </table>
    	  
      <% end %>
      <div id="statue_data_collection_explanation">
      <p>Aqui pode recolher os dados necessários para a resolução da tarefa. </p><p>À direita, tem uma balança onde pode medir a massa de diferentes modelos da estátua.  </p>
      <p>Em cima, tem um formulário onde pode introduzir os dados recolhidos.</p>
      </div>
    </div>

    
    
    <div class="statue_animation span7">
    <canvas id="myCanvas" width=400 height=500></canvas>
   
    
      <div id="statue_size_controls" style="width:150px;  float:right; margin-top:-120px">
	 <div id="statue_size_label"><%= t("height").capitalize %></div>
	 <div id="statue_size_slider"></div>
      </div>
    
    
    
    
    </div>
    

    <div class="btn-group statue_navigator">
    <a type="button" class="statue_button btn btn-primary data-gathering_previous" id="statue_data-gathering_previous"><%= t "previous" %></a>
    <a type="button" class="statue_button btn btn-primary data-gathering_next" id="statue_data-gathering_next"  style="display:none"><%= t "next" %></a>
    </div>


    <a href="#fancydiv" class="fancybox" id="fancy_trigger" style="display:none"></a>

    <div  style="display:none;">
      <div id="fancydiv">
      <p>Verificou que uma estátua de <span id="fancy_size">0.1</span>m tem uma massa de <span id="fancy_mass">0.095</span>kg.<br /> Antes de continuar com a atividade tente prever qual a massa da estátua de 2.5m.</p>
      <%= form_tag(add_prediction_statues_path, remote:true) do %>
      <div class="form-horizontal">
      <%= number_field_tag(:mass,"", step:0.001, placeholder:"previsão (kg)") %>
      <%= submit_tag(:submeter, value:t("submit"),  class:"btn btn-success") %>
      <%= link_to "Não fazer previsão", "#", id:"fancy_close", style:"margin-left:30px;" %>
      </div>
      <% end %>
      </div>
    </div>
</section>






<section class="model-choice">
  <div class="x_axis_unit axis_unit">l</div>
  <div class="y_axis_unit axis_unit">m</div>
      
  <h1><%= t("chooseModel") %></h1>
  <div>
  <div class="model_choice_buttons statue_model_buttons">
    <div class="model_first_model_controls" id="statue_first_model_controls">
  <div class="btn-group">
    <a type="button" class="statue_button btn linear_model_button" id="statue_linear_button"><%= t("linear").capitalize %><br/> y = k x + b</a>
    <a type="button" class="statue_button btn quadratic_model_button" id="statue_quadratic_button"><%= t("quadratic").capitalize %><br /> y = k (x-h)<sup>2</sup> + b</a>
    <a type="button" class="statue_button btn cubic_model_button" id="statue_cubic_button"><%= t("cubic").capitalize %><br /> y = k (x-h)<sup>3</sup> + b</a>
  </div>
    
  <div class="model-choice_buttons_explanation" id="statue_buttons_explanation"><%= t "chooseModelInstructions" %></div>
  <div class="linear_function_controls model_function_controls" id="statue_linear_controls">
    
    <div class="model_choice_slider_parent"><div class="function_controls_label">k: <span class="model_linear_m" id="statue_linear_m">120</span></div><div class="model_slider_controls model_linear_m_slider" id="statue_linear_m_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">b: <span class="model_linear_b" id="statue_linear_b">0</span></div><div class="model_slider_controls model_linear_b_slider" id="statue_linear_b_slider"></div></div>

  </div>
  <div class="quadratic_function_controls model_function_controls" id="statue_quadratic_controls">
    <div class="model_choice_slider_parent"><div class="function_controls_label">k: <span class="model_quadratic_k" id="statue_quadratic_k">2.6</span></div><div class="model_slider_controls model_quadratic_k_slider" id="statue_quadratic_k_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">h: <span class="model_quadratic_h" id="statue_quadratic_h">0</span></div><div class="model_slider_controls model_quadratic_h_slider" id="statue_quadratic_h_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">b: <span class="model_quadratic_b" id="statue_quadratic_b">0</span></div><div class="model_slider_controls model_quadratic_b_slider" id="statue_quadratic_b_slider"></div></div>
  </div>

  <div class="cubic_function_controls model_function_controls" id="statue_cubic_controls">
    <div class="model_choice_slider_parent"><div class="function_controls_label">k: <span class="model_cubic_k" id="statue_cubic_k">0.04</span></div><div class="model_slider_controls  model_cubic_k_slider" id="statue_cubic_k_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">h: <span class="model_cubic_h" id="statue_cubic_h">0</span></div><div class="model_slider_controls model_cubic_h_slider" id="statue_cubic_h_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">b: <span class="model_cubic_b" id="statue_cubic_b">0</span></div><div class="model_slider_controls model_cubic_b_slider" id="statue_cubic_b_slider"></div></div>
  </div>
  
  <div class="model_choice_model_information_div">
    <div class="model_choice_model_formula_parent" id="statue_chosen_model_div">
      <span>
	 <%= t("model").capitalize %>
      </span>
      <div class="model_choice_model_formula" id="statue_chosen_model">
	 
      </div>
    </div>
    <div class="model_choice_model_confirm_button" id="statue_confirm_model_button_div">
      <a type="button" class="model_confirm_model_button statue_button btn btn-success" id="statue_confirm_model_button"><%= t "useModel" %></a>
    </div>
    </div>
  </div>
  </div>
  <div id="statue_graph_super_div">
  <div>Massa da estátua em função da altura</div>
  <div id="statue_graph_div">
    <div class="y_label_div" id="statue_y_label">m (kg)</div>
    
  <div class="graph_div" id="statue_graph"></div>
  <div class="x_label_div" id="statue_x_label">l (m)</div>
  </div>
  <div class="graph_legend_container"></div>
   </div>
  </div>
  <div class="btn-group statue_navigator">
    <a type="button" class="statue_button btn btn-primary model-choice_previous" id="statue_model-choice_previous"><%= t "previous" %></a>
  </div>

  
</section>







<section class="questions">
  <h1><%= t "finalQuestions" %></h1>

  <div class="row model_question_screen1" id="statue_question_screen1"><div class="span2"></div>
    <div class="span9" id="statue_questions_div">
      <%= form_tag(answers_path, remote: true) do %>
      <%= hidden_field_tag(:model, nil, id:"statue_model_field", class:"question_model_field") %>
      <%= hidden_field_tag(:question1, nil, id:"statue_question1_field", class:"question_question1_field") %>
      <%= label_tag(:answer1, nil, id:"statue_question1_label", class:"question_question1_label") %>
      <%= text_area_tag(:answer1, nil, id:"statue_answer1_field", class:"question_answer1_field") %>
      <%= hidden_field_tag(:question2, nil, id:"statue_question2_field", class:"question_question2_field") %>
      <%= label_tag(:answer2, nil, id:"statue_question2_label", class:"question_question2_label") %>
      <%= text_area_tag(:answer2, nil, id:"statue_answer2_field", class:"question_answer2_field") %>
      <%= hidden_field_tag(:question3, nil, id:"statue_question3_field", class:"question_question3_field") %>
      <%= hidden_field_tag(:answer3, nil, id:"statue_answer3_field", class:"question_answer3_field") %>
      <%= hidden_field_tag(:question4, nil, id:"statue_question4_field", class:"question_question4_field") %>
      <%= label_tag(:answer4, nil, id:"statue_question4_label", class:"question_question4_label") %>
      <%= text_area_tag(:answer4, nil, id:"statue_answer4_field", class:"question_answer4_field") %>
      
      <br />
      <%= submit_tag(:save, value:"Submeter", confirm:"Deseja introduzir estas respostas?", class:"btn btn-success questions_confirm_answers_button", style:"float: left") %>
      <% end %>
    </div>
    <div class="span3"></div>
  </div>

  <div class="row model_question_screen2" id="statue_question_screen2"><div class="span2"></div>
    <div class="span9" id="statue_questions_after_div">
      <%= t "endActivityMessage" %>
    </div>
    
  </div>

  

  <div class="btn-group statue_navigator">
    <a type="button" class="statue_button btn btn-primary model_questions_previous" id="statue_questions_previous" style:"margin:20px 30px 0 0"><%= t "previous" %></a>
  </div>
</section>



</div>
