
$(function() {

    $("#thermo3_kJ_field").on("keyup", function() {
	var kJ = parseFloat($(this).val());
	$("#thermo3_energy_field").val(kJ*1000);

    });

    $("#thermo3_temperature_field").on("keyup", function() {
	
	var time = $(this).val();
	if (time)
	    var delta = parseFloat(time)-15;
	else
	    delta = 0;

	$("#thermo3_delta_calculator").html(delta.toFixed(1));
	$("#thermo3_delta_field").val(delta);
    });


    


    // creates initial parameters
    $(".data-gathering").on("click", "#thermo3_data-gathering_next", function() {
	 $(".data-gathering").slideUp();
	 $(".model-choice").slideDown();
	
	chart_vars.linear_m = !chart_vars.linear_m ? 250 : chart_vars.linear_m;
	chart_vars.linear_b = !chart_vars.linear_b ? 0 : chart_vars.linear_b;
	chart_vars.quadratic_k = !chart_vars.quadratic_k ? 6 : chart_vars.quadratic_k;
	chart_vars.quadratic_h= !chart_vars.quadratic_h  ? 0 : chart_vars.quadratic_h;
	chart_vars.quadratic_b = !chart_vars.quadratic_b ? 0 : chart_vars.quadratic_b;
	chart_vars.cubic_k = !chart_vars.cubic_k ? 2 : chart_vars.cubic_k;
	chart_vars.cubic_h = !chart_vars.cubic_h ? 0 : chart_vars.cubic_h;
	chart_vars.cubic_b = !chart_vars.cubic_b ? 0 : chart_vars.cubic_b; 
	chart_vars.measurable = 100; 
	chart_vars.default_x = 20;
	chart_vars.x_maximum=chart_vars.default_x;
	chart_vars.x_step = 5;
	chart_vars.x_lower_bound = 5;
	chart_vars.x_higher_bound = 50;
	$(".model_second_model_controls").remove();
	$(".model_first_model_controls").show();
	$(".model_function_controls").hide();
	$(".model-choice_buttons_explanation").show();
	$(".model_choice_model_information_div").hide();
	chart_vars.loadsPlot(chart_vars.plot_normal);
	
	$(".model_linear_m").html(chart_vars.linear_m);
	$(".model_linear_b").html(chart_vars.linear_b);
	$(".model_quadratic_k").html(chart_vars.quadratic_k);
	$(".model_quadratic_h").html(chart_vars.quadratic_h);
	$(".model_quadratic_b").html(chart_vars.quadratic_b);
	$(".model_cubic_k").html(chart_vars.cubic_k);
	$(".model_cubic_h").html(chart_vars.cubic_h);
	$(".model_cubic_b").html(chart_vars.cubic_b);

    
    // slider limits
	var b = 10000, b_step = 50;
 
	$("#thermo3_linear_m_slider").slider({value: chart_vars.linear_m, min: 0, max: 1200, step: 20});
	$("#thermo3_linear_b_slider").slider({value: chart_vars.linear_b, min: -b, max:b, step: b_step});
	$("#thermo3_quadratic_k_slider").slider({value: chart_vars.quadratic_k, min: 0, max: 120, step: 0.1});
	$("#thermo3_quadratic_h_slider").slider({value: chart_vars.quadratic_h, min: 0, max: chart_vars.default_x, step: chart_vars.default_x/100});
	$("#thermo3_quadratic_b_slider").slider({value: chart_vars.quadratic_b, min: -b, max: b, step: b_step});
	$("#thermo3_cubic_k_slider").slider({value: chart_vars.cubic_k, min: 0, max: 30, step: 0.1});
	$("#thermo3_cubic_h_slider").slider({value: chart_vars.cubic_h, min: 0, max: chart_vars.default_x, step: chart_vars.default_x/100});
	$("#thermo3_cubic_b_slider").slider({value: chart_vars.cubic_b, min: -b, max: b, step: b_step});
	
	
	chart_vars.animatePlot = function() {
	 
	    if (chart_vars.model === 1) {
		chart_vars.x_maximum *= 1.2;
		chart_vars.y_maximum *= 1.2;
		
		chart_vars.plot_linear(chart_vars.x_maximum, chart_vars.y_maximum);
	    }
	    else if (chart_vars.model === 2) {
		chart_vars.x_maximum *= 1.1;
		chart_vars.y_maximum *= Math.pow(1.1,2);
		var quadratic_data = chart_vars.getQuadraticData();
		chart_vars.plot_polynomial(quadratic_data, chart_vars.x_maximum, chart_vars.y_maximum);
	    }
	    else if (chart_vars.model === 3) {
		chart_vars.x_maximum *= 1.1;
		chart_vars.y_maximum *= Math.pow(1.1,3);
		var cubic_data = chart_vars.getCubicData();
		chart_vars.plot_polynomial(cubic_data, chart_vars.x_maximum, chart_vars.y_maximum);
	    }
	    if (chart_vars.x_maximum > chart_vars.measurable/9*10 && chart_vars.y_maximum > chart_vars.prediction/9*10) {
		clearInterval(chart_vars.intervalId);
		chart_vars.intervalId = false;
	     chart_vars.x_maximum = chart_vars.default_x;
		chart_vars.y_maximum = chart_vars.setYMax();
		
		$(".model_choice_buttons").append("<div class='model_second_model_controls'><p><%= I18n.translate 'thermo3.prediction1' %>"+chart_vars.scientific(chart_vars.prediction,1)+"<%= I18n.translate 'thermo3.prediction2' %></p><p><a href='#' class='model_another_model_link'><%= I18n.translate 'modeling.another_model_link' %></a> ou <a href='#' class='model_keep_model_link'><%= I18n.translate 'modeling.accept_model_link' %></a></p></div>");
		$(".model_first_model_controls").hide();
		
		$(".model_another_model_link").on("click", function() {
		  $(".model_second_model_controls").remove();
		    $(".model_function_controls").hide();
		    $(".model_choice_model_information_div").hide();
		    $(".model_first_model_controls").show();
		    chart_vars.model = 1;
		    chart_vars.loadsPlot(chart_vars.plot_normal);
		});
		
		$(".model_keep_model_link").on("click", function() {
		    $(".model-choice").slideUp();
		    $(".questions").slideDown();
		    
		    var m;
		    if (chart_vars.model === 1) {
			if (chart_vars.linear_m)
			    m = "<%= I18n.translate 'linear' %>";
			else 
			    m = "<%= I18n.translate 'constant' %>";
		    }
		    else if (chart_vars.model === 2) {
			if (chart_vars.quadratic_k)
			    m = "<%= I18n.translate 'quadratic' %>";
			else
		            m = "<%= I18n.translate 'constant' %>";
		    }
		    else if (chart_vars.model === 3) {
			if (chart_vars.cubic_k)
			    m = "<%= I18n.translate 'cubic' %>";
			else
			    m = "<%= I18n.translate 'constant' %>";
		    }
		    
		    var question1, question2,question4;
		    question1 = "<%= I18n.translate 'modeling.choice1' %><b>"+m+"</b><%= I18n.translate 'modeling.choice2' %>";
		    
		    
		    question2 = "<%= I18n.translate 'modeling.affect' %>";
		    
		    
		    question4 = "<%= I18n.translate 'modeling.opinion' %>";

		    $(".question_model_field").val(m);
		    $(".question_question1_label").html(question1);
		    $(".question_question1_field").val(question1);
		    
		    
		    $(".question_question2_label").html(question2);
		    $(".question_question2_field").val(question2);
		    
		    
		    $(".question_question4_label").html(question4);
		    $(".question_question4_field").val(question4);
		    
		    
		});
		
	 }
	}

    });
    

    
});