<%= render "layouts/navbar" %>

<div class="row">
  <div class="span3">
    <%= form_tag("#", id:"teacher_graph_form") do %>
    <% @users.each do |u| %>
    <div class="userbox">
      <%= check_box_tag(u.id, 1, checked:true) %>
      <%= label_tag u.id, u.name, class:"checkbox inline" %>
    </div>
    <% end %>
    
    <% end %>
  </div>
  <div class="span6">
    <div class="graph_div" id="teacher_graph_div"></div>
  </div>
  <div class="span3">
    <div id="activity_point_info"></div>
  </div>
</div>
<div class="row">
  <div class="span10" id="ptolemy_dashboard">
    <%= render "dashboard" %>
  
  </div>
  
  <div class="span3" >
    <%= link_to "voltar", teacher_path(current_user.id) %>
  </div>
</div>
