<div style="margin-top: -60px" >




<section class="pos_filter">

<div id="pendulum1_strategy_div">
  <h2><%= t("initial_question").capitalize %></h2>
  <div>
  <p><%= t "pendulum1.strategyIntro" %>
  </p>
  <br />
  <p>
  <%= t "pendulum1.strategyEnd" %>
  </p><br />
  <p>
  <%= t "pendulum1.strategyPS" %>
  </p>
  </div>

  </div>
   
  <div class="btn-group pendulum1_navigator" style="margin-top: 10px">
    <a type="button" class="pendulum1_button btn btn-primary strategy_next" id="pendulum1_strategy_next"><%= t "next" %></a>
  </div>
</section>


<section class="modeling">

<div id="pendulum1_modeling_div">
  <h2><%= t("modeling_process").capitalize %></h2>
  <div>
  <p><%= t "pendulum1.modeling1" %>
  </p>
  <br />
  <p>
  <%= t "pendulum1.modeling2" %>
  </p><br />
  <p>
  <%= t "pendulum1.modeling3" %>
  </p>
  </div>

  </div>
   
  <div class="btn-group pendulum1_navigator" style="margin-top: 10px">
    <a type="button" class="pendulum1_button btn btn-primary modeling_previous" id="pendulum1_modeling_previous"><%= t "previous" %></a>
    <a type="button" class="pendulum1_button btn btn-primary modeling_next" id="pendulum1_modeling_next"><%= t "next" %></a>
  </div>
</section>



<section class="data-gathering row">
  
<script type="text/javascript">
	  
  $(function() {
    
    var canvas = $("#myCanvas");
    var context = canvas.get(0).getContext("2d");
    var animation_parameters = {last: 0, current:new Date().getTime(), dt: 0};
    var time = 0;
    var animation = false;
    var skip_frame = false;

    var size = 1;
    var theta = 3.14/18;
    var omega = 0;
    var mass = 0.2;
    var g = 9.8;

    function drawPendulum() {
        
        var s = size * 200;
	var x = 200+s*Math.sin(theta);
	var y = 50+s*Math.cos(theta);
        context.clearRect(0,0,400,500);
		    
	context.beginPath(); 
	context.arc(200, 50, 3, 0, Math.PI*2, false); 
	context.closePath(); 
	context.fill();
	context.beginPath();
	context.moveTo(200, 50);
	context.lineTo(x,y);
	context.closePath();
	context.stroke();
	context.save();
        context.fillStyle = "red";
        context.beginPath(); 
	context.arc(x, y, 25.65*Math.pow(mass,1/3), 0, Math.PI*2, false); 
	context.closePath(); 
	context.fill();
	context.restore();
    }
    
    
    drawPendulum();

    function render() {
	animation_parameters.last = animation_parameters.current;
	animation_parameters.current = new Date().getTime()-time;
	    
	if (!skip_frame) {
	    animation_parameters.dt = (animation_parameters.current-animation_parameters.last)/1000.;
	}
	else {
	    animation_parameters.dt += (animation_parameters.current-animation_parameters.last)/1000.;
	    skip_frame = false;
	}
	
	if (animation) {
	    if (animation_parameters.dt > 0.5) {
		animation = false;
	    }
	    else {
		if (animation_parameters.dt < 1/50.) {
		    skip_frame = true;
		}
		else {
		    omega += g*Math.sin(-theta)*animation_parameters.dt/size;
		    theta += omega * animation_parameters.dt;
		    drawPendulum();
		}
	    }
	}
    }

    animate();






    (function() {
	var lastTime = 0;
	var vendors = ['ms', 'moz', 'webkit', 'o'];
	for(var x = 0; x < vendors.length && !window.requestAnimationFrame; ++x) {
            window.requestAnimationFrame = window[vendors[x]+'RequestAnimationFrame'];
            window.cancelRequestAnimationFrame = window[vendors[x]+
							'CancelRequestAnimationFrame'];
	}
	if (!window.requestAnimationFrame)
            window.requestAnimationFrame = function(callback, element) {
		var currTime = new Date().getTime();
		var delta_t = Math.max(0, 16 - (currTime - lastTime));
		var id = window.setTimeout(function() { callback(currTime + delta_t); }, 
					   delta_t);
		lastTime = currTime + delta_t;
		return id;
            };
	
	if (!window.cancelAnimationFrame)
            window.cancelAnimationFrame = function(id) {
		clearTimeout(id);
            };
    }());
    
    
    function animate() {
	window.requestAnimationFrame(animate);
	render();
    }

    $(".controls").on("slide","#pendulum_length_slider", function(evt, ui) {
	console.log(mass);
	size = ui.value;
	$("#pendulum_length").html(size.toFixed(3)+" m");
	console.log(mass);
	drawPendulum();
	console.log(mass);
    });
    $(".controls").on("slide","#pendulum_angle_slider", function(evt, ui) {
	theta = ui.value/180*3.1415;
	$("#pendulum_angle").html(ui.value.toFixed(0)+"ยบ");
	drawPendulum();
    });
    
    
    $("#onoff").on("click", function() {
       animation = !animation;
    });
});




</script>
        

   <h1><%= t "collectData" %></h1>
        
    <div class="model_data_form pendulum1_data_form span5">
      <%= form_tag(data_points_path, remote: true) do %>
         <%= hidden_field_tag(:y, nil,  id:"pendulum1_energy_field") %>
         <table class="table">
	    <thead>
	      <tr><th><%= t("mass") %>(kg)</th><th><%= t("timeWord") %>(s)</th><th title="E = P x &#916;t"><%= t("energy") %>(kJ)</th><th></th></tr>
	      <tr>
		 <th>
		   <%= number_field_tag(:x, nil,  class:"pendulum1_input", step:0.001, id:"pendulum1_volume_field", placeholder:"kg", max:1, min:0) %>
		 </th>
		 <th>
		   <%= number_field_tag(:time, nil, class:"pendulum1_input", step:0.1, id:"pendulum1_time_field", placeholder:"s", max:75, min: 0) %>
		 </th>
		 <th id="pendulum1_energy_calculator" title="E = P x &#916;t">
		   0.0
		 </th>
		 <th>
		   <%= submit_tag(:submeter, value: t('submit'), class:"btn btn-success", id:"pendulum1_add_data_point_button") %>
		 </th>
	      </tr>
	    </thead>
	  
	  
	  
	    <tbody class="model_data_collection" id="pendulum1_data_collection">
	      
	    <%= render "tbody" %>
	    </tbody>
	  
	  </table>
    	  
      <% end %>
      <div id="pendulum1_data_collection_explanation">
      <p><%= t "pendulum1.data1" %> </p><p><%= t "pendulum1.data2" %></p>
      <p><%= t "pendulum1.data3" %> </p>
      <p><%= t "pendulum1.data4" %> </p>
      </div>
    </div>

    
    
    <div class="pendulum1_animation span7">
    <canvas id="myCanvas" width=400 height=500></canvas>
   
    <div id="pendulum1_controls" class="controls">
      <div >
	<div id="pendulum_mass" class="monitor">0.050 kg</div>
	<div id="pendulum_mass_slider" class="control_slider"</div>
	<div id="pendulum_length" class="monitor">1.00 m</div>
	<div id="pendulum_length_slider" class="control_slider"></div>
	<div id="pendulum_angle" class="monitor"> 5ยบ</div>
	<div id="pendulum_angle_slider" class="control_slider"></div>
	

	<div id="chrono" class="monitor">0.0 s</div>
	
    
      </div>
    
      <div class="btn-group">
	<button type="button" class="pendulum1_button btn btn-default" id="onoff"><%= t "start" %></button>
	<button type="button" class="btn btn-default" id="restart"><%= t "restart" %></button>
    </div>
    </div>
    </div>
    

    <div class="btn-group pendulum1_navigator">
    <a type="button" class="pendulum1_button btn btn-primary data-gathering_previous" id="pendulum1_data-gathering_previous"><%= t "previous" %></a>
    <a type="button" class="pendulum1_button btn btn-primary data-gathering_next" id="pendulum1_data-gathering_next"  style="display:none"><%= t "next" %></a>
  </div>
</section>





<section class="model-choice">
  <div class="x_axis_unit axis_unit">m</div>
  <div class="y_axis_unit axis_unit">E</div>

  <h1><%= t("chooseModel") %></h1>
  <div>
  <div class="model_choice_buttons pendulum1_model_buttons">
    <div class="model_first_model_controls" id="pendulum1_first_model_controls">
  <div class="btn-group">
    <a type="button" class="pendulum1_button btn linear_model_button" id="pendulum1_linear_button"><%= t("linear").capitalize %><br/> y = k x + b</a>
    <a type="button" class="pendulum1_button btn quadratic_model_button" id="pendulum1_quadratic_button"><%= t("quadratic").capitalize %><br /> y = k (x-h)<sup>2</sup> + b</a>
    <a type="button" class="pendulum1_button btn cubic_model_button" id="pendulum1_cubic_button"><%= t("cubic").capitalize %><br /> y = k (x-h)<sup>3</sup> + b</a>
  </div>
    
  <div class="model-choice_buttons_explanation"  id="pendulum1_buttons_explanation"><%= t "chooseModelInstructions" %></div>
  <div class="linear_function_controls model_function_controls" id="pendulum1_linear_controls">
    
   <div class="model_choice_slider_parent"><div class="function_controls_label">k: <span class="model_linear_m" id="pendulum1_linear_m">10000</span></div><div class="model_slider_controls model_linear_m_slider" id="pendulum1_linear_m_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">b: <span class="model_linear_b" id="pendulum1_linear_b">0</span></div><div class="model_slider_controls model_linear_b_slider" id="pendulum1_linear_b_slider"></div></div>

  </div>
  <div class="quadratic_function_controls model_function_controls" id="pendulum1_quadratic_controls">
    <div class="model_choice_slider_parent"><div class="function_controls_label">k: <span class="model_quadratic_k" id="pendulum1_quadratic_k">15000</span></div><div class="model_slider_controls model_quadratic_k_slider" id="pendulum1_quadratic_k_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">h: <span class="model_quadratic_h" id="pendulum1_quadratic_h">0</span></div><div class="model_slider_controls model_quadratic_h_slider" id="pendulum1_quadratic_h_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">b: <span class="model_quadratic_b" id="pendulum1_quadratic_b">0</span></div><div class="model_slider_controls model_quadratic_b_slider" id="pendulum1_quadratic_b_slider"></div></div>
  </div>

  <div class="cubic_function_controls model_function_controls" id="pendulum1_cubic_controls">
    <div class="model_choice_slider_parent"><div class="function_controls_label">k: <span class="model_cubic_k" id="pendulum1_cubic_k">20000</span></div><div class="model_slider_controls  model_cubic_k_slider" id="pendulum1_cubic_k_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">h: <span class="model_cubic_h" id="pendulum1_cubic_h">0</span></div><div class="model_slider_controls model_cubic_h_slider" id="pendulum1_cubic_h_slider"></div></div>
    <div class="model_choice_slider_parent"><div class="function_controls_label">b: <span class="model_cubic_b" id="pendulum1_cubic_b">0</span></div><div class="model_slider_controls model_cubic_b_slider" id="pendulum1_cubic_b_slider"></div></div>
  </div> 
  
  <div class="model_choice_model_information_div">
    <div class="model_choice_model_formula_parent" id="pendulum1_chosen_model_div">
      <span>
	 <%= t("model").capitalize %>
      </span>
      <div class="model_choice_model_formula" id="pendulum1_chosen_model">
	 
      </div>
    </div>
    <div  class="model_choice_model_confirm_button" id="pendulum1_confirm_model_button_div">
      <a type="button" class="model_confirm_model_button pendulum1_button btn btn-success" id="pendulum1_confirm_model_button"><%= t "useModel" %></a>
    </div>
    </div>
  </div>
  </div>
  <div id="pendulum1_graph_super_div">
    <div><%= t "pendulum1.graph_title" %></div>
    <div id="pendulum1_graph_div">
      <div class="y_label_div" id="pendulum1_y_label">E (J)</div>
    
      <div class="graph_div" id="pendulum1_graph"></div>
      <div class="x_label_div"  id="pendulum1_x_label">m (kg)</div>
    </div>
    <div class="graph_legend_container"></div>
  </div>
  </div>
  <div class="btn-group pendulum1_navigator">
    <a type="button" class="pendulum1_button btn btn-primary model-choice_previous" id="pendulum1_model-choice_previous"><%= t "previous" %></a>
    </div>


</section>


<section class="questions">
  <h1><%= t "finalQuestions" %></h1>

  <div class="row" id="pendulum1_question_screen1"><div class="span2"></div>
    <div class="span9" id="pendulum1_questions_div">
      <%= form_tag(answers_path, remote: true) do %>
      <%= hidden_field_tag(:model, nil, id:"pendulum1_model_field", class:"question_model_field") %>
      <%= hidden_field_tag(:question1, nil, id:"pendulum1_question1_field", class:"question_question1_field") %>
      <%= label_tag(:answer1, nil, id:"pendulum1_question1_label", class:"question_question1_label") %>
      <%= text_area_tag(:answer1, nil, id:"pendulum1_answer1_field", class:"question_answer1_field") %>
      <%= hidden_field_tag(:question2, nil, id:"pendulum1_question2_field", class:"question_question2_field") %>
      <%= label_tag(:answer2, nil, id:"pendulum1_question2_label", class:"question_question2_label") %>
      <%= text_area_tag(:answer2, nil, id:"pendulum1_answer2_field", class:"question_answer2_field") %>
      <%= hidden_field_tag(:question3, nil, id:"pendulum1_question3_field", class:"question_question3_field") %>
      <%= label_tag(:answer3, nil, id:"pendulum1_question3_label", class:"question_question3_label") %>
      <%= text_area_tag(:answer3, nil, id:"pendulum1_answer3_field", class:"question_answer3_field") %>
      <%= hidden_field_tag(:question4, nil, id:"pendulum1_question4_field", class:"question_question4_field") %>
      <%= label_tag(:answer4, nil, id:"pendulum1_question4_label", class:"question_question4_label") %>
      <%= text_area_tag(:answer4, nil, id:"pendulum1_answer4_field", class:"question_answer4_field") %>
      
      <br />
      <%= submit_tag(:save, value:t("submit"), confirm:"Deseja introduzir estas respostas?", class:"btn btn-success", style:"float: left") %>
      <% end %>
    </div>
    <div class="span3"></div>
  </div>

  <div class="row" id="pendulum1_question_screen2"><div class="span2"></div>
    <div class="span9" id="pendulum1_questions_after_div">
      <%= t "endActivityMessage" %>
    </div>
    
  </div>

  

  <div class="btn-group pendulum1_navigator">
    <a type="button" class="pendulum1_button btn btn-primary model_questions_previous" id="pendulum1_questions_previous" style:"margin:20px 30px 0 0"><%= t "previous" %></a>
  </div>
</section>

</div>
