<!DOCTYPE html>
<html>
<head>
  <title>Ptolemy</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  

  <div class="container">
    

<% if flash[:alert] %>
<div class='alert alert-danger' id='alert'>
<%= flash[:alert] %>
</div>
<% end %>
<% if flash[:notice] %>
<div class='alert alert-success id='notice'>
<%= flash[:notice] %>
</div>
<% end %>

<%= yield %>
</div>
</body>
</html>
